
body{
    margin:50px auto;
    font-size:22px;
    background:brown;
    background-image: url("pap.gif");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container*/
    margin-top:50px;
    width: 800px;
    text-align: left;
}

p{
    font-family: verdana;
    color:black;
    font-size:18px;
    text-align:center;
    padding:5px;
}
h1 {
    color: black;
    text-align: center;
    font-size:50px;
}
h4 {
    color: black;
    text-align: center;
    font-size:20px;
}
.continer{

    margin: 0 auto;
    text-align: left;
    width: 800px;
    margin-top:50px;
    font-family: verdana;
    color:white;
    font-size:20px;
        
    
    }


